.completeWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 4000px;
    margin-right: 100px;
}

@media screen and (max-width:768px){
    .completeWrapper{
        margin-right: 0;
    }
}




.complete{
    margin-top: 100px;
}


.listcontainer{
    display: flex;
    flex-direction: column;
    margin-right: 70px;
    padding: 30px 10px;
}

@media screen and (max-width:765px){
    .listcontainer{
        display: flex;
        flex-direction: column;
        margin-right: 0px;
    }
}




.list{
    margin-bottom: 20px;
    list-style: none;
}


.taskName{
    font-size: 20px;
    padding-bottom: 10px;
}



.success{
    color: blue;
}

.failed{
    color: brown;
}