.Listmain{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-height: 4000px;
    margin-right: 100px;
}




.inner{
    display: flex;
    gap: 10px;
    align-items: center;
}

/* sp用のcss */
@media screen and (max-width:768px){
    .Listmain{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        width: 100%;
    }
    .Listwrapper{
        width: 80%;
    }

} 