.wrapper{
  width: 100%;
  display: flex;
}

.leftside{
  width: 20%;
  border-right:  1px solid black;
}


.rightside{
  width: 80%;
}


@media screen and (max-width:768px){
  .wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .leftside{
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
  }
  
  
  .rightside{
    width: 100%;
  }
  
}